<h3>Sing In</h3>
<form action="/admin" method="post">

  <label for="username"><b>UserName</b></label>
  <input type="text" id="username" placeholder="User & Password => admin" name="username" />

  <label for="Password"><b>Password</b></label>
  <input type="password" id="password" name="password" />

  <button class="btn" type="submit">Login</button>

</form>