<a href="/admin/categories">
  &larr; Back
</a>

<div class="admin-title">
  <h2>Add New Category</h2>
</div>

<form method="post">

  <label for="name"><b>Name</b></label>
  <input type="text" id="name" name="name" placeholder="Category Name" />

  <button type=" submit" class="btn">Add</button>
</form>