<header class="header">
  <a href="/" class="header__logo">NodeJs</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/admin/dashboard" class="">Posts</a>
      </li>
      <li>
        <a href="/admin/categories" class="">Categories</a>
      </li>
    </ul>

  </nav>

  <div class="header__button">
    <a href="/admin/logout">
      Logout
    </a>
  </div>

</header>